* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 27px;

  margin-top: 35px;
  width: 16rem;
  height: 25rem;
  padding: 25px;
  /* background-color: aqua; */
}
.card-image {
  object-fit: contain;
  border-radius: 9px;
  
}
.card-info {
  text-align: center;
  align-items: center;
}
.star {
  width: 20px;
  height: 20px;
  margin-top: 3%;
}
.desc {
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.btn {
  width: 96%;
  outline: none;
  cursor: pointer;
  padding: 7px;
  margin: 4px;
  color: black;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
}
.btn:hover{
  background-color:yellowgreen;
}
